a, a:hover {
    text-decoration: none;
}

.top-search {
}

.top-search .search-group {
}

.search-input .van-search__content {
    background-color: #fff;
}

.top-search .search-group .van-field__left-icon {
    position: absolute;
    right: 12px;
    margin: 0;
    color: #c8c9cc;
}

.top-search .search-group .van-icon-clear {
    display: none;
}

.top-search .search-group .search-button {
    position: absolute;
    top: 6px;
    right: 8px;
    display: block;
    height: 40px;
    width: 48px;
}

.commodity-list {
    padding: 12px 15px 0;
}

.commodity-item  {
    position: relative;
    padding: 0 0 18px 90px;
    margin-bottom: 12px;
}

.commodity-pic {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.commodity-pic img {
    display: block;
    width: 90px;
    height: 90px;
}

.commodity-content {
    position: relative;
    padding-left: 6px;
    font-size: 12px;
    color: #222;
    min-height: 90px;
}

.commodity-content p {
    margin: 0 0 6px;
}

.commodity-content .comd-title {
    font-size: 14px;
}

.commodity-content .comd-title a {
    color: #3e3e3e;
}

.commodity-content .comd-price .original-cost {
    padding-right: 12px;
    color: #2bbece;
}

.commodity-content .comd-price .use-coupon {
    color: #ff4040;
}

.commodity-content .comd-coupon {
    color: #848484;
}

.commodity-content .get-coupon {
    position: absolute;
    right: 0;
    top: 56px;
    border: 1px solid #f24d0c;
    min-width: 36px;
}

.commodity-content .purchase {
    position: absolute;
    right: 0;
    top: 56px;
    min-width: 36px;
}

.commodity-content-extra .comd-shop {
    position: absolute;
    right: 0;
    left: 0;
    top: 92px;
    margin: 5px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    color: #848484;
    padding-left: 18px;
}

.commodity-content-extra .comd-shop .shop-icon {
    position: absolute;
    top: 1px;
    left: 0;
}

.commodity-content-extra .comd-shop .shop-title {
    padding-right: 12px;
}

.commodity-content-extra .comd-shop .shop-volume {
    position: absolute;
    left: 160px;
    width: 120px;
}

.copy-coupon {
    padding: 0 15px;
    left: 15px;
    right: 15px;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    background: none;
}

.copy-coupon .share-key {
    background: #fff;
}

.copy-coupon .copy-tips {
    color: #fff;
    text-align: center;
}

[v-cloak] {
    display: none;
}