.top-search {
    padding: 15px 15px 10px;
    background-color: #efefef;
}

.commodity-item {
    position: relative;
    padding-left: 90px;
    margin-top: 12px;
}

.commodity-list {
}

.commodity-pic {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.commodity-pic img {
    display: block;
    width: 90px;
    height: 90px;
}

.commodity-content {
    position: relative;
    padding-left: 6px;
    height: 120px;
    font-size: 12px;
    color: #222;
}

.commodity-content p {
    margin-bottom: 6px;
}

.commodity-content .comd-title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.commodity-content .comd-title a {
    color: #222222;
}

.commodity-content .comd-title a:hover {
    text-decoration: none;
}

.commodity-content .comd-price {
    color: #f00;
}

.commodity-content .comd-price span {
    text-decoration: line-through;
    padding-right: 12px;
}

.commodity-content .comd-coupon {
    color: #f00;
}

.commodity-content .get-coupon {
    position: absolute;
    right: 0;
    top: 48px;
}

.commodity-link {
    display: block;
    text-decoration: none;
}

.commodity-link:hover {
    text-decoration: none;
}

[v-cloak] {
    display: none;
}